# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\For study\OOP practice\Guitar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
